@font-face {
  font-family: "Inter";
  src: url("Inter.woff2");
}

* {
  color: white;
  font-family: "Inter", sans-serif;

  user-select: none;
}

body {
  margin: 0;
}

#map {
  position: absolute;

  width: 100vw;
  height: 100vh;

  z-index: -1;
}

.leaflet-control-container {
  display: none;
}

.bottom-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;

  margin: 1rem;

  position: absolute;
  bottom: 0;
  right: 0;
}

#attribution, #reset {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);

  border-radius: 12px;

  padding: 1rem;

  transition: 0.25s ease;
}

#reset:hover {
  background-color: rgba(0, 0, 0, 0.5);

  cursor: pointer;
}